.navbar {
    background-color: #d91023; /* rojo Avianca */
    padding: 10px 653px;
    color: white;
    font-family: 'Century Gothic', sans-serif;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    letter-spacing: 1px;
  }
  
  .logo {
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-family: 'Century Gothic', sans-serif;
    margin-left: -272%;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 115px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #ffb3b3;
    transform: scale(1.2); /* Expande 20% el texto */
  }
  


  /* Solo es Footer */
  
  .footer {
    background-color: #DBDBDB;  /* fondo gris oscuro */
    color: #212121;             /* texto gris claro */
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content p {
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.05em;
  }

.dropdown-menu {
  border-radius: 1px;
  padding: 27px;
  min-width: 193px;
  margin-top: 36px;
  margin-left: -11px;

}

.dropdown-menu .dropdown-item:active {
  background-color: white; /* azredul bootstrap */
  color: white;
  transform: scale(0.98); /* efecto ligero de presión */
  transition: transform 0.1s ease;
}

/* Hover en los items */
.dropdown-menu .dropdown-item:hover {
  color: black;
  font-weight: bold;
  cursor: pointer;
}




