/* NAVBAR GENERAL */
.navbar {
  background-color: #b71c1c;
  padding: 10px 20px;
  color: white;
  font-family: 'Century Gothic', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-family: 'Century Gothic', sans-serif;
}

.title {
  display: inline-block; /* o block */
  text-align: center;
  width: 100%; /* si es block */
  font-weight: 600;
  font-size: 18px;
}


/* NAVBAR CONTAINER */
.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.dropdown {
  margin-left: -216%;
}

/* DROPDOWN */
.dropdown-menu {
  border-radius: 1px;
  padding: 20px;
  min-width: 180px;
  margin-top: 34px;
  margin-left: -207px;
}

.dropdown .nav-link .dropdown{
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
}


.dropdown-menu .dropdown-item {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.dropdown-menu .dropdown-item:active,
.dropdown-item.active {
  background-color: #f1f1f1;
  color: #000;
}

.dropdown-menu .dropdown-item:hover {
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.1s ease;
}

/* FOOTER */
.footer {
  background-color: #DBDBDB;
  color: #212121;
  font-weight: bold;
  font-family: 'Century Gothic', sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.footer-content span {
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.05em;
}


@media (max-width: 800px) {
  .dropdown {
    margin-left: -216%;
  }
}

@media (max-width: 995px) {
  .dropdown{
    margin-left: -124%;
}

.dropdown-menu {
  margin-top: 35px;
  margin-left: -118px;
}

}

/* MOBILE & TABLET RESPONSIVE */
@media  (max-width: 990px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo svg {
    width: 160px;
  }

  .navbar-container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    display: none;
  }

  .dropdown {
    margin-left: -216%;
  }

  .navbar-container.active {
    display: flex;
  }

  .dropdown-menu {
    position: static;
    background: transparent;
    box-shadow: none;
    padding: 10px 0;
  }

  .dropdown-menu .dropdown-item {
    background: transparent;
    color: white;
    padding: 8px 10px;
    font-weight: normal;
  }

  .dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    margin-left: auto;
    cursor: pointer;
  }

  
  
}
