
<span class="add-pasager" (click)="addPassager()" >
    <!-- <mat-icon>add</mat-icon> -->
    <strong>Agregar Pasajeros</strong>
  </span>
  <span class="add-pasager" (click)="delete()">
    <!-- <mat-icon>delete</mat-icon> -->
     <strong>Limpiar</strong>
  </span>
  <span class="add-pasager" >
     <strong>Buscar</strong>
     <input
     class="form-control mb-2 w-100" 
     type="text"
     placeholder="Buscar por cédula, ciudad o país"
     [(ngModel)]="searchText"
     (input)="buscar()"
   />
  </span>

  <table class="datatable">
    <thead>
      <tr>
        <th> Nombre Completo</th>
        <th> Tipo de Documento</th>
        <th> Número de identificación </th>
        <th> Pais</th>
        <th> Departamento</th>
        <th> Ciudad</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.name }}</td>
        <td>{{ item.typeIdentification }}</td>
        <td>{{ item.identificationNumber }}</td>
        <td>{{ item.countries }}</td>
        <td>{{ item.departments }}</td>
        <td>{{ item.cities }}</td>
      </tr>
    </tbody>
  </table>
  